@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

:root {
    --bg: #212121;
    --fg: #ffffff;
    --secondaryFg: #b3b3b3;
    --containerBg: #272727;
    --searchBg: var(--containerBg);
    --fontFamily: 'Roboto Mono', monospace;
}

body {
    background-color: var(--bg);
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: var(--fontFamily);
    color: var(--fg);
    margin-bottom: 0.25em;
}

#search {
    width: 40%;
    background-color: var(--searchBg);
    border-radius: 5px;
    font-family: var(--fontFamily);
    color: var(--fg);
    margin: 1em;
}

#search-field {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--searchBg);
    padding: 0.25em;
    border: solid 0px var(--searchBg);
    border-radius: 5px;
    font-family: var(--fontFamily);
    font-size: 2rem;
    color: var(--fg);
    outline: none;
    text-align: center;
}

.weather-container {
    width: 30%;
    background-color: var(--containerBg);
    padding: 1em;
    border-radius: 5px;
    font-family: var(--fontFamily);
    color: var(--fg);
    text-align: center;
}
.inline {
    display: inline-block;
}

#bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set {
    padding: 1em;
    background-color: var(--containerBg);
    border-radius: 3px;
    font-family: var(--fontFamily);
    /* font-size: 0.85rem; */
    width: 25%;
    height: 12em;
    margin: 0em 0.5em;
    box-sizing: border-box;
}

.bookmark-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--fg);
}
.bookmark {
    text-decoration: none;
    color: var(--secondaryFg);
    display: block;
    margin: 0.5em 0em;
}
.bookmark:hover {
    color: var(--fg);
}
